*{
  
    box-sizing: border-box;
  }
  
  
  
  
  @media only screen and (max-width: 600px){ 
  
  
  body{
    background:#ECECEC;
    margin:0px;
  }
  
  
  #social{
    background-color: black;
    color: white;
    height: 70px;
    position: sticky;
    top:0;
    z-index: 1;
    font-size: 10px;
    text-align: right;
    padding:15px;
  }
  
  #social h1{
    font-size: 17px;
    float: left;
    letter-spacing: 1px; 
  }
  
  
  
  #social i{
    
    margin-left: 15px;
    font-size: 15px;
    transition: 3s;
  }
  
  #socail i:hover{
    transform: scale(0.8s);
    opacity: 0.8;
    color:#428183;
  }
  
  #social a{
    color:white;
    transition:1s;
  }
  
  #social a:hover{
    color:black;
    transform:scale(1s);
    padding-bottom:2px;
  }
  
  .menu{
    text-align: center;
    float:left;
    background:#A2A4BB;
    margin:0px;
  }
  
  .menu li{
    
    list-style-type: none;
    float:left;
    padding:5px;
    margin:0px;
    
   
  }
  
  .menu i{
    color:black;
  }
  
  .menu a{
    color:black;
    text-decoration: none;
    transition: 1s;
  }
  
  .menu a:hover{
    color:#E3E5F2;
    transform: scale(1s);
  }
  
  
  
  .sidenav {
    
    height: 100%;
    width: 0; /*GeniÅŸliÄŸi javascriptle deÄŸiÅŸtir*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #7E7E7E;
    overflow-x: hidden; /*Yatay kaydÄ±rmayÄ± devre dÄ±ÅŸÄ± bÄ±rak */
    transition: 0.5s;/* Sidenav'da kaymaya 0,5 saniye geÃ§iÅŸ efekti */
    padding-top: 60px; /*Ä°Ã§eriÄŸi Ã¼stten 60 piksel yerleÅŸtirin */
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    
  }
  
  
  .sidenav b{
    
    float: right;
    padding-top: 40px;
    padding:30px;
    text-align: center;
  }
  /*MenÃ¼ler Ã¼zerine gelince  renklerini deÄŸiÅŸtirin */
  
  .sidenav a:hover {
    color: #f1f1f1; 
  }
  /*Kapat dÃ¼ÄŸmesini konumlandÄ±rÄ±n ve stillendirin (saÄŸ Ã¼st kÃ¶ÅŸe) */
  
  .sidenav .closebtn {
    
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  }
  
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700,800);
  @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
  figure.snip1208 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    font-size: 16px;
  }
  figure.snip1208 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  figure.snip1208 img {
    max-width: 100%;
    vertical-align: top;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  figure.snip1208 figcaption {
    padding: 25px;
    position: relative;
  }
  figure.snip1208 .date,
  figure.snip1208 i {
    background-color: #1abc9c;
    top: 25px;
    color: #fff;
    left: 25px;
    min-height: 60px;
    min-width: 60px;
    position: absolute;
    text-align: center;
  }
  figure.snip1208 .date {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
  }
  figure.snip1208 .date span {
    display: block;
    line-height: 30px;
  }
  figure.snip1208 .date .month {
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  figure.snip1208 i {
    line-height: 60px;
    font-size: 30px;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.snip1208 h3,
  figure.snip1208 p {
    margin: 0;
    padding: 0;
  }
  figure.snip1208 h3 {
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase;
  }
  figure.snip1208 p {
    font-size: 0.8em;
    margin-bottom: 20px;
    line-height: 1.6em;
  }
  figure.snip1208 button {
    border: medium none;
    padding: 10px 20px;
    background-color: #1abc9c;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
  }
  figure.snip1208 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  figure.snip1208:hover img,
  figure.snip1208.hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  figure.snip1208:hover .date,
  figure.snip1208.hover .date {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.snip1208:hover i,
  figure.snip1208.hover i {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  figure.snip1208:hover button,
  figure.snip1208.hover button {
    background-color: #117964;
  }
  .jrok input[type="submit"] {
    border: medium none;
    padding: 10px 20px;
    background-color: #dbad15;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
  }
  .tegn input[type="submit"] {
    border: medium none;
    padding: 10px 20px;
    background-color: #1a73bc;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
  }
  